
li{
    list-style:none;  font-family:微软雅黑;
}

/*tools*/

.tool-img{
    padding:5px 5px 0;
    zoom: 1;
}
.tool-img li{
    float:left;
    margin-bottom:8px;
    margin-right:1px;
    position:relative;
    width:188px;
}
.tool-img li a{
    border:1px #CFC solid;
    display:block;
    height:50px;
    padding:0 0 0 44px;
}

.tool-img li a:hover,.tool-img li.hover a{
    background:url(../images/bg_repeat.png) repeat-x 0 -113px;
    border:1px #fee69e solid;
}
.tool-img .ico,.tool-panel .ico{
    background-image:url(../images/tools_icons.png);
    background-repeat:no-repeat;
    height:32px;
    left:5px;
    position:absolute;
    top:5px;
    width:32px;
}
.tool-img .tool-name{
    display:block;
    color:#60F;
    font-size:14px;
    font-weight:700;
    height:18px;
    padding-top:7px;
}
/*tools*/


.ico-49{background-position:0px 0px;}
.ico-27{background-position:-32px 0px;}
.ico-141{background-position:-256px -160px;}
.ico-5{background-position:-64px 0px;}
.ico-1{background-position:-96px 0px;}
.ico-127{background-position:-128px 0px;}
.ico-4{background-position:-160px 0px;}
.ico-3{background-position:-192px 0px;}
.ico-18{background-position:-128px -64px;}
.ico-8{background-position:-256px 0px;}
.ico-135{background-position:-288px -128px;}
.ico-85{background-position:0px -32px;}
.ico-79{background-position:-32px -32px;}
.ico-2{background-position:-64px -32px;}
.ico-99{background-position:-96px -32px;}
.ico-9{background-position:-96px -64px;}
.ico-87{background-position:-288px -32px;}
.ico-81{background-position:-192px -32px;}
.ico-114{background-position:-224px -32px;}
.ico-82{background-position:-256px -32px;}
.ico-7{background-position:-224px 0px;}
.ico-83{background-position:-160px -32px;}
.ico-24{background-position:0px -64px;}
.ico-64{background-position:-32px -64px;}
.ico-29{background-position:-64px -64px;}
.ico-75{background-position:-128px -32px;}
.ico-25{background-position:-288px 0px;}
.ico-136{background-position:-32px -160px;}
.ico-137{background-position:-64px -160px;}
.ico-138{background-position:-128px -160px;}
.ico-144{background-position:-32px -192px;}
.ico-145{background-position:-64px -192px;}
.ico-146{background-position:-96px -192px;}
.ico-142{background-position:-288px -160px;}
.ico-22{background-position:-256px -288px;}
.ico-50{background-position:-256px -288px;}
.ico-51{background-position:-256px -288px;}
.ico-54{background-position:-256px -288px;}
.ico-60{background-position:-256px -288px;}
.ico-61{background-position:-256px -288px;}
.ico-62{background-position:-256px -288px;}
.ico-66{background-position:-256px -288px;}
.ico-67{background-position:-256px -288px;}
.ico-68{background-position:-256px -288px;}
.ico-69{background-position:-256px -288px;}
.ico-70{background-position:-256px -288px;}
.ico-71{background-position:-256px -288px;}
.ico-72{background-position:-256px -288px;}
.ico-73{background-position:-256px -288px;}
.ico-74{background-position:-256px -288px;}
.ico-76{background-position:-256px -288px;}
.ico-77{background-position:-256px -288px;}
.ico-78{background-position:-256px -288px;}
.ico-80{background-position:-256px -288px;}
.ico-84{background-position:-256px -288px;}
.ico-86{background-position:-256px -288px;}
.ico-88{background-position:-256px -288px;}
.ico-90{background-position:-256px -288px;}
.ico-92{background-position:-256px -288px;}
.ico-93{background-position:-256px -288px;}
.ico-94{background-position:-256px -288px;}
.ico-95{background-position:-256px -288px;}
.ico-97{background-position:-256px -288px;}
.ico-98{background-position:-256px -288px;}
.ico-100{background-position:-256px -288px;}
.ico-101{background-position:-256px -288px;}
.ico-103{background-position:-256px -288px;}
.ico-105{background-position:-256px -288px;}
.ico-106{background-position:-256px -288px;}
.ico-107{background-position:-256px -288px;}
.ico-108{background-position:-256px -288px;}
.ico-109{background-position:-256px -288px;}
.ico-110{background-position:-256px -288px;}
.ico-111{background-position:-256px -288px;}
.ico-112{background-position:-256px -288px;}
.ico-113{background-position:-256px -288px;}
.ico-115{background-position:-256px -288px;}
.ico-116{background-position:-256px -288px;}
.ico-117{background-position:-256px -288px;}
.ico-118{background-position:-256px -288px;}
.ico-119{background-position:-256px -288px;}
.ico-120{background-position:-256px -288px;}
.ico-121{background-position:-256px -288px;}
.ico-122{background-position:-256px -288px;}
.ico-123{background-position:-256px -288px;}
.ico-124{background-position:-256px -288px;}
.ico-125{background-position:-256px -288px;}
.ico-132{background-position:-256px -288px;}
.ico-131{background-position:-256px -288px;}
.ico-130{background-position:-256px -288px;}
.ico-133{background-position:-256px -288px;}
.ico-28{background-position:-192px -64px;}
.ico-19{background-position:-160px -64px;}
.ico-17{background-position:-256px -64px;}
.ico-134{background-position:-64px -96px;}
.ico-42{background-position:-288px -64px;}
.ico-40{background-position:0px -96px;}
.ico-143{background-position:0px -192px;}
.ico-33{background-position:-32px -96px;}
.ico-26{background-position:-224px -64px;}
.ico-57{background-position:-256px -128px;}
.ico-38{background-position:-160px -96px;}
.ico-37{background-position:-288px -96px;}
.ico-39{background-position:0px -128px;}
.ico-34{background-position:-256px -288px;}
.ico-35{background-position:-256px -288px;}
.ico-52{background-position:-256px -288px;}
.ico-53{background-position:-256px -288px;}
.ico-55{background-position:-256px -288px;}
.ico-56{background-position:-256px -288px;}
.ico-58{background-position:-256px -288px;}
.ico-59{background-position:-256px -288px;}
.ico-89{background-position:-256px -288px;}
.ico-63{background-position:0px -160px;}
.ico-140{background-position:-192px -160px;}
.ico-65{background-position:-96px -160px;}
.ico-104{background-position:-224px -160px;}
.ico-139{background-position:-160px -160px;}
.ico-30{background-position:-96px -96px;}
.ico-128{background-position:-128px -96px;}
.ico-36{background-position:-192px -96px;}
.ico-129{background-position:-224px -96px;}
.ico-32{background-position:-256px -96px;}
.ico-47{background-position:-32px -128px;}
.ico-48{background-position:-64px -128px;}
.ico-46{background-position:-96px -128px;}
.ico-45{background-position:-128px -128px;}
.ico-44{background-position:-160px -128px;}
.ico-41{background-position:-192px -128px;}
.ico-43{background-position:-224px -128px;}
